body{
  background: url('../imgs/img_2.png'), url('../imgs/img_1.png'), url('../imgs/background_branco.png');
  background-position: right 20px top, left 20px top, center;
  background-repeat: no-repeat, no-repeat, repeat;
  background-attachment: auto, auto, fixed;
  background-size: 12%, 8%, cover;
}