@font-face {
  font-family: 'Playfair';
  src: url('../Fonte/PlayfairDisplay-Regular.ttf');
}
body{background: #fff;}
p{font-family: roboto;}
h4,
h3,
h2 {
  color: #4f7f7f;
  font-family: 'Playfair';
}

.panel-title > a {
  color: #4f7f7f;
}

.panel-heading {
  background-color: aliceblue !important;
}

.panel-group .panel-heading {
  border: 2px solid #4f7f7f;
}
.panel-body{font-family: roboto;}
.pagina .container{padding: 50px;}
header {
  margin-top: 81px;
}

.citacao {
  padding-left: 40%;
}

.citacao p {
  text-align: justify;
}

.flex {
  display: flex;
}

.imagem1 {
  background: url("../imgs/img_1.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  width: 868px;
}

.imagem2 {
  background: url("../imgs/img_2.jpg") no-repeat;
  background-size: contain;
  background-position: top center;
  width: 868px;
}

.imagem3 {
  background: url("../imgs/img_3.jpg") no-repeat;
  background-size: contain;
  background-position: top center;
  width: 868px;
}

.imagem4 {
  background: url("../imgs/img_4.jpg") no-repeat;
  background-size: contain;
  background-position: top center;
  width: 868px;
}

.divisao {
  margin: 0px;
  height: 5px;
  background-color: #4f7f7f;
}


@media (max-width: 1000px) {
  .imagem1 {
    background: unset;
    background-size: unset;
    background-position: unset;
    width: unset;
  }
  .imagem2 {
    background: unset;
    background-size: unset;
    background-position: unset;
    width: unset;
  }
  .imagem3 {
    background: unset;
    background-size: unset;
    background-position: unset;
    width: unset;
  }
  .imagem4 {
    background: unset;
    background-size: unset;
    background-position: unset;
    width: unset;
  }
}

@media (max-width: 820px) {
  .citacao {
    padding-left: 30%;
  }
}

@media (max-width: 480px) {
  .citacao {
    padding-left: 10%;
  }
}