body {
  background: url("../imgs/img_lateral.png"),
    url("../imgs/background_branco.jpg");
  background-repeat: no-repeat, repeat;
  background-position: left top, unset;
  background-size: 20%, auto;
}
header {
  margin-top: 100px;
}
.bloco {
  padding: 50px 0;
}

.bloco-plantas1 {
  background: url("../imgs/img_lateral_2.png") no-repeat right bottom;
  background-size: 18%;
}

.bloco-plantas1 h2 {
  color: rgb(5, 48, 5);
}

.bloco-plantas1 h3 {
  color: black;
}

.bloco.escuro {
  background: url("../imgs/background_escuro.jpg") repeat;
}
.bloco.escuro h2,
.bloco.escuro h3,
.bloco.escuro h4,
.bloco.escuro p {
  color: #fff;
}

.painel-tripe {
  position: relative;
  height: 500px;
  width: 550px;
  margin: 30px auto;
}
.painel-tripe button,
.painel.selos button {
  transition: all 0.4s;
}
.painel-tripe button:hover,
.painel.selos button:hover {
  transform: scale(1.1);
}
button {
  border: none;
  background-color: transparent;
  transition: all 0.4s;
}

.botao-desenvolvimento {
  background-image: url("../imgs/bt_1_hover_em_scale.png");
  height: 301px;
  width: 301px;
  position: absolute;
  left: 23%;
}

.botao-gestao {
  background-image: url("../imgs/bt_2_hover_em_scale.png");
  height: 301px;
  width: 301px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.botao-responsabilidade {
  background-image: url("../imgs/bt_3_hover_em_scale.png");
  height: 301px;
  width: 301px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.painel-sustentabilidade {
  position: relative;
  height: 1000px;
}

.painel-sustentabilidade button {
  height: 130px;
  width: 339px;
}

.bt-longevidade {
  position: absolute;
  background: url("../imgs/pc_btn_1.png");
  left: 37%;
  bottom: 5%;
}

.bt-longevidade:hover {
  background: url("../imgs/pc_btn_1_hover.png");
}

.bt-biofilia {
  position: absolute;
  background: url("../imgs/pc_btn_2.png");
  top: 7%;
  right: 25%;
}

.bt-biofilia:hover {
  background: url("../imgs/pc_btn_2_hover.png");
}

.bt-conforto {
  position: absolute;
  background: url("../imgs/pc_btn_3.png");
  right: -22%;
  top: 35%;
}

.bt-conforto:hover {
  background: url("../imgs/pc_btn_3_hover.png");
}

.bt-eficiencia {
  position: absolute;
  background: url("../imgs/pc_btn_4.png");
  top: 22%;
  right: 0%;
}

.bt-eficiencia:hover {
  background: url("../imgs/pc_btn_4_hover.png");
}

.lista_numerada {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: #4f7f7f;
}

.lista_numerada img {
  margin: -25px;
}

.bloco.escuro .modal-texto .lista_numerada p {
  color: #fff;
  margin-left: 30px;
}

.bloco.escuro .panel-title {
  color: #e74c3c;
}

.bloco.escuro .modal-title {
  color: #e74c3c;
}

.bt-impactos {
  position: absolute;
  background: url("../imgs/pc_btn_5.png");
  top: 18%;
  left: 3%;
}

.bt-impactos:hover {
  background: url("../imgs/pc_btn_5_hover.png");
}

.bt-ergonomia {
  position: absolute;
  background: url("../imgs/pc_btn_6.png");
  bottom: 35%;
  left: 33%;
}

.bt-ergonomia:hover {
  background: url("../imgs/pc_btn_6_hover.png");
}

.bt-acessibilidade {
  position: absolute;
  background: url("../imgs/pc_btn_7.png");
  right: -13%;
  bottom: 33%;
}

.bt-acessibilidade:hover {
  background: url("../imgs/pc_btn_7_hover.png");
}

.bloco.escuro .modal-texto h3,
.bloco.escuro .modal-texto p {
  color: black;
}
.btn_selo_casa_azul {
  background-image: url("../imgs/selo_1_hover_em_scale.png");
  height: 232px;
  width: 214px;
}

.btn_aqua {
  background-image: url("../imgs/selo_2_hover_em_scale.png");
  height: 232px;
  width: 214px;
}

.btn_leed {
  background-image: url("../imgs/selo_3_hover_em_scale.png");
  height: 232px;
  width: 214px;
}

.btn_well {
  background-image: url("../imgs/selo_4_hover_em_scale.png");
  height: 232px;
  width: 214px;
}

.btn_breeam {
  background-image: url("../imgs/selo_5_hover_em_scale.png");
  height: 232px;
  width: 214px;
}

.btn_procel {
  background-image: url("../imgs/selo_6_hover_em_scale.png");
  height: 232px;
  width: 214px;
}

.btn_fsc {
  background-image: url("../imgs/selo_7_hover_em_scale.png");
  height: 232px;
  width: 214px;
}

.selos {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.bloco-plantas-2 {
  background-image: url("../imgs/img2_lateral.png"),
    url("../imgs/img2_lateral_2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  background-size: 15%;
}

.video-youtube {
  width: 640px;
  height: 360px;
  margin: 40px auto;
  display: block;
  margin-bottom: 50px;
}

.w-50{width: 50%;}

@media (max-width: 1500px) {
  body {
    background: url("../imgs/background_branco.jpg") repeat;
  }
  .bloco-plantas1 {
    background: unset;
  }
  .bloco-plantas-2 {
    background: unset;
  }
}

@media (max-width: 750px) {
  .botao-desenvolvimento {
    position: relative;
    left: unset;
  }
  .botao-responsabilidade {
    position: relative;
    right: unset;
    top: unset;
  }
  .botao-gestao {
    position: relative;
    top: unset;
    left: unset;
  }

  .painel-tripe {
    display: flex;
    gap: 30px;
    width: unset;
    height: 1000px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .painel-sustentabilidade {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: unset;
    align-items: center;
  }

  .bt-longevidade {
    background: url("../imgs/pc_btn_1_mobile.png");
    position: unset;
    left: unset;
    bottom: unset;
  }
  .bt-longevidade:hover {
    background: url("../imgs/pc_btn_1_mobile.png");
  }

  .bt-biofilia {
    background: url("../imgs/pc_btn_2_mobile.png");
    position: relative;
    top: unset;
    right: unset;
  }
  .bt-biofilia:hover {
    background: url("../imgs/pc_btn_2_mobile.png");
  }

  .bt-conforto {
    background: url("../imgs/pc_btn_3_mobile.png");
    position: relative;
    right: unset;
    top: unset;
  }
  .bt-conforto:hover {
    background: url("../imgs/pc_btn_3_mobile.png");
  }

  .bt-eficiencia {
    background: url("../imgs/pc_btn_4_mobile.png");
    position: relative;
    top: unset;
    right: unset;
  }
  .bt-eficiencia:hover {
    background: url("../imgs/pc_btn_4_mobile.png");
  }

  .bt-impactos {
    background: url("../imgs/pc_btn_5_mobile.png");
    position: relative;
    top: unset;
    left: unset;
  }
  .bt-impactos:hover {
    background: url("../imgs/pc_btn_5_mobile.png");
  }

  .bt-ergonomia {
    background: url("../imgs/pc_btn_6_mobile.png");
    position: relative;
    bottom: unset;
    left: unset;
  }
  .bt-ergonomia:hover {
    background: url("../imgs/pc_btn_6_mobile.png");
  }

  .bt-acessibilidade {
    background: url("../imgs/pc_btn_7_mobile.png");
    position: unset;
    right: unset;
    bottom: unset;
  }
  .bt-acessibilidade:hover {
    background: url("../imgs/pc_btn_7_mobile.png");
  }
}

@media screen and (max-width: 700px) {
  .video-youtube {
    width: 320px;
    height: 180px;
    border-radius: 10px;
  }
  .w-50{width: 90%;}
}

@media screen and (max-width: 480px) {
  .video-youtube {
    width: 320px;
    height: 180px;
    border-radius: 10px;
  }
}
