header {
  margin-top: 80px;
}
body{background: #fff;}
.ambiente {
  display: flex;
}
.ambiente .container{padding: 0 40px;}
.margem {
  margin-top: 10px;
}

.imagem {
  background: url("../imgs/img.png");
  background-size: cover;
  height: 1217px;
  width: 800px;
}
iframe {
  width: 580px;
  height: 360px;
  margin: 10px auto;
  display: block;
}

@media (max-width: 1080px) {
  .imagem {
    background: unset;
    background-size: unset;
    height: unset;
    width: unset;
  }
}
@media only screen and (max-width: 480px){
  iframe {
    width: 100%;
    height: 320px;
}
}