header {
  margin-top: 80px;
}
.ambiente {
  display: flex;
}

.margem {
  margin-top: 10px;
}

.imagem {
  background: url("../imgs/img.png");
  background-size: cover;
  height: 1217px;
  width: 800px;
}

@media (max-width: 1800px) {
  .imagem {
    background: unset;
    background-size: unset;
    height: unset;
    width: unset;
  }
}
